<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>HTML 5 Boilerplate</title>
  </head>
  <body>
    <h1><%= kindOfDay %></h1>
    <ul>
      <% for (i=0; i<newListItems.length; i++) { %>
        <li><%= newListItems[i] %></li>
      <% }; %> 
    </ul>
    <form action = "/" method="post">
      <input type="text" name="newItem" placeholder="New Item">
      <button type="submit" name="submit">Add</button>
    </form>
  </body>
</html>